/*.heeader
{
   background-image: url("http://i.imgur.com/DdA3A00.jpg");
   background-repeat:no-repeat;
   background-size:cover;
   margin-left:-8px;
   margin-right:-8px;
   margin-top:-22px;
}*/

/*body
{
   background-image: url("http://i.imgur.com/GJgDUAd.jpg");
   background-repeat:no-repeat;
   background-size:cover;
}*/

body
{
   margin:0px;
   padding:0px;
}

.heeader
{
   background-color:#FF5252;
   height:125px;
}

.logo
{
   margin:0;
   padding:10px;
}

ul.navigation
{
   list-style-type: none;
    margin: 0;
    padding: 0;
}

li.navigation
{
   float:right;
   display:block;
   width:60px;
   text-transform:uppercase;
}

